
.wd-kanbas-navigation{
    background-color: black;    
    list-style: none;
    padding: 0px;
    width:80px;
    margin: 0px;
}

.wd-kanbas-navigation li{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
    
}
.wd-kanbas-navigation li.wd-active{
    background-color:white;
}
.wd-kanbas-navigation li.wd-active .ac-active{
    color:grey !important;
}
.wd-kanbas-navigation li.wd-active a{
    color:yellow;
}
.wd-kanbas-navigation a{
    color:white;
    text-decoration: none;
}
.wd-kanbas-navigation a i{
    color:yellow;
    font-size: 2em;
    margin-bottom: 5px;
}
.inbox-icon{
    font-size: 3em !important;
}
.list-group-item-2{
    color: pink;

}
